/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c2d3c;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

.logo {
    width: 5%;
}

.wrapper {
    height: 100vh;
}

.container {
    width: 80%;
    height: 100%;
}

header {
    background-color: #06131f;
    width: 100%;
    height: 80px;
    padding: 1em;
    position: fixed;
    z-index: 10;
}

/*LAYOUT*/
.row {
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    padding: 5em 5em;
}

.col {
    padding: 1em;
}

.card {
    padding: 1em 2em 0em;
    height: 100%;
    background-color: #102030;
    cursor: pointer;
}

.card-body {
    text-align: center;
    color: white;
    padding-bottom: 0.2em;
}

/*TIPOGRAFIA*/
h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 200;
    padding: 0.5em;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

/*BONUS*/
.disco-info {
    background-color: #10203080;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1vh;
    right: 1vw;
    left: 1vw;
    bottom: 3vh;
    z-index: 11;
    height: 98%;
}

.card-info {
    margin: 0 auto;
    text-align: center;
}

.card-info img {
    width: 80%;
}

.exit {
    background-color: transparent;
    border-style: none;
    border: 1px solid white;
    color: white;
    padding: 0.1em 0.4em;
    position: absolute;
    top: 1em;
    right: 1em;
}